{% extends "base.html" %}
{% block html_lang %}{{ article.lang }}{% endblock %}
{% block head -%}
  {{ super() -}}
  {% if article.summary %}
        <meta name="description" content="{{ article.summary | striptags | safe | truncate(150) }}" />
  {% endif %}
{% endblock %}

{% block title %}{{ article.title|striptags }}{% endblock %}
{% block content_title %}Post{% endblock %}

{% block extra_head %}
{% import 'translations.html' as translations with context %}
{% if translations.entry_hreflang(article) %}
  {{ translations.entry_hreflang(article) }}
{% endif %}
{% endblock %}

{% block content %}
<section id="content" class="post-card">
  <article class="full">
    <!-- {{ article.image_gallery }} -->

    {% if article.image_gallery %}
    {% for imgsrc in article.image_gallery %}
    <img class="attachment image" src="{{imgsrc}}"></img>
    {% endfor %}
    {% endif %}

    <header>
      <span class="meta published" title="{{ article.date.isoformat() }}">{{ article.locale_date }}</span>
      <h1 class="post-title">
        <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
           title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h1>
    </header>

    <div class="entry-content">
      {{ article.content }}
    </div><!-- /.entry-content -->

    {% if article.tags %}
    <ul class="post-tags">
      {% for tag in article.tags %}
        <li><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a></li>
      {% endfor %}
    </ul>
    {% endif %}

  </article>
</section>
{% endblock %}
